version: "3.9"

services:
  postgres:
    image: postgres:15
    container_name: param_adventures_db
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: param_adventures
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
